@value mobile from "../variables/breakpoints.css";
@value red from "../variables/colors.css";

.eventsListTimelineSection {
  margin-bottom: 50px;
}

.eventsListTimelineSection:last-child {
  margin-bottom: 0;
}

.eventsListTimelineSection h2 {
  margin-bottom: 0;
  text-align: center;
}

.eventsList {
  font-size: 1em;
  margin-top: 0;
  padding-left: 0;
}

.arrow {
  color: red;
  padding-left: 5px;
}

@media mobile {
  .eventsList {
    padding: 0;
  }
}
