/*
* Global variables used with future CSS syntax
*/

:root {
  --green: #6da620;
  --lightGreen: #009187;
  --darkGreen: #005952;
}

/*
* Composable classes
*/

.darkGreenBackground {
  background-color: #005952;
}

.darkGreen {
  color: #005952;
}

.lightGreen {
  color: #009187;
}

.green {
  color: #6da620;
}
