.franklinGothicHand {
  font-family: "FranklinGothicHand","CenturyGothicRegular","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.centuryGothicBold {
  font-family: "CenturyGothicBold","Helvetica Neue",Helvetica,Arial,sans-serif;
}

.redBadgerFont  {
  font-family: "RB-icons";
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
}
