@import '../../colors.css';

.postPreview {
  position: relative;
}

.titleHeading {
  margin: 0.8em 0 0;
}

.author {
  margin-top: 0;
}

.authorLink {
  color: var(--darkGreen);
}

.titleAnchor {
  color: var(--darkGreen);
  composes: franklinGothicHand from "fonts.css";
  font-size: 1.6em;
  line-height: 1.2;
  text-decoration: none;
}

.postBody {
  {
    p {
      margin: 10px 0;
    }

    img {
      width: 100%;
    }

    a {
      color: var(--darkGreen);
    }
  }
}
