doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title GraphiQL Red Badgers Schema
    link(rel='stylesheet' type='text/css' href='http://localhost:8080/node_modules/graphiql/graphiql.css')
  body
    #root
    script(src='http://localhost:8080/node_modules/react/dist/react.min.js')
    script(src='http://localhost:8080/node_modules/graphiql/graphiql.min.js')
    script(src='http://localhost:8080/node_modules/react-relay/dist/relay.js')
    script(type='text/javascript').
      function graphQLFetcher(graphQLParams) {
        return fetch(window.location.origin + '/graphql', {
          method: 'post',
          headers: { 'Content-Type': 'application/json' },
          body: JSON.stringify(graphQLParams)
        }).then(function(response) { return response.json() });
      };
      React.render(React.createElement(
        GraphiQL,
        { fetcher: graphQLFetcher },
        React.createElement(
          GraphiQL.Logo,
          null,
          React.createElement("img", {
            src: "http://localhost:8080/images/logos/redbadger_logo_small_round.png",
            alt: "Red Badger Logo",
            height: "30"
          }),
          " Badger Brain"
        )
      ), document.body);
    
    
