@import '../../responsive.css';

.headerNav {
    list-style: none;
    padding: 0;
    margin: 0;
}

.nav {
  composes: blackPaper from "../../backgrounds.css";
  text-transform: uppercase;
  text-align: center;
  width: 100%;
  position: relative;
}

.navListElement {
  display: inline-block;
  position: relative;
  padding: 0 2em;
  line-height: 2.5;
}

.navListElement a {
  text-decoration: none;
  color: #fff;
}

.container {
  max-width: 920px;
  margin: 0 auto;
  padding: 0 2em;
}

.active {
  position: absolute;
  bottom: -6px;
  height: 12px;
  left: 15%;
  right: 15%;
  background-color: #be1414;
}

.logo {
  margin: 1.25em 0;
  grid-push: 2/12;
}

@media (--small) {
  .logo {
    grid-push: 1/12;
  }
}
