container_commands:
  01chmod:
    command: "chmod +x /tmp/deployment/application/.ebextensions/scripts/*"
  02mkdir_configdeploy_pre:
    test: '[ ! -d /opt/elasticbeanstalk/hooks/configdeploy/pre ]'
    command: "mkdir /opt/elasticbeanstalk/hooks/configdeploy/pre"
  11copy_node_install_wrapper:
    command: "cp /tmp/deployment/application/.ebextensions/scripts/install-node-wrapper.sh /opt/elasticbeanstalk/hooks/configdeploy/pre/70install-node-wrapper.sh"
  12copy_node_install_script:
    command: "cp /tmp/deployment/application/.ebextensions/scripts/install-node.sh /opt/elasticbeanstalk/hooks"
  13run_node_custom_install:
    command: "bash /opt/elasticbeanstalk/hooks/install-node.sh /tmp/deployment/application"
