.dateBubble {
  background: #be1414;
  display: inline-block;
  font-size: 0.8em;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  min-width: 3em;
  margin-bottom: 1em;
  padding: 0.3em 0;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  line-height: 1.25em;
  margin-top: 2em;
}

.date {
  font-size: 2em;
  line-height: 1.2em;
}

.month {
}

.year {
}
