.post {
  grid-push: 3/12;
  grid-column: 6/12;
}

.title {
  composes: darkGreen from "../../colors.css";
  composes: franklinGothicHand from "../../fonts.css";
  font-size: 1.6em;
  line-height: 1.2;
  text-decoration: none;
}
