.postList {
  grid-push: 3/12;
  grid-column: 6/12;
  margin-top: 1.5em;
}

.loading {
  float: left;
}

.divider {
  border: none;
  background: url("/images/backgrounds/rule_grey.png") no-repeat left center;
  background-size: 100% 14px;
  height: 1em;
  margin: 1.5em 0;
}

.loadMoreButton {
  width: 100%;
  margin: 10px 0px;
  background-color: #6da620;
  color: #fff;
  border: none;
  border-radius: 3px;
  padding: 5px;
  font-size: 1.1rem;
}


.spinner {
  width: 21px;
  height: 21px;
  position: relative;
  margin: 0 auto;
}

.bounce1 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;

  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.bounce2 {
  composes: bounce1;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}
