@value large, mediaLarge from "../variables/breakpoints.css";

.wrapper {
  composes: nbfcAlt from "../utils/layout.css";
}

.container {
  width: 100%;
  max-width: large;
  padding: 0px 20px;
}

@media mediaLarge {
  .container {
    width: large;
    margin: 0 auto;
  }
}
