@value grey from "../variables/colors.css";

.icon {
  composes: sketchTag from "../../components/icons/style.css";
  color: grey;
}

.tagsList {
  composes: cf from "../../components/utils/layout.css";
  clear: both;
  margin-left: -0.7em;
}

.tagsList ul {
  display: inline;
  list-style: none;
  padding-left: 0;
}

.tagsList li {
  display: inline;
}

.tagsList li:after {
  content: ", ";
}

.tagsList li:last-child:after {
  content: "";
}

.tagsListLink {
  composes: a from "../../components/typography/style.css";
  composes: defaultFont from "../../components/fonts/style.css";
  cursor: pointer;
  font-size: .875em;
  font-weight: bold;
  text-decoration: none;
}

.tagsListLink:hover {
  text-decoration: underline;
}
