.author {
  composes: darkGreen from "../../colors.css";
}

.titleHeading {
  margin: 0.8em 0;
}

.titleAnchor {
  composes: darkGreen from "../../colors.css";
  composes: franklinGothicHand from "../../fonts.css";
  font-size: 1.6em;
  line-height: 1.2;
  text-decoration: none;
}
