@font-face {
    font-family: "FranklinGothicHandDemi";
    src: url("webfonts/FranklinGothicHandDemi.eot");
    src: url("webfonts/FranklinGothicHandDemi.eot?#iefix") format("embedded-opentype"),url("webfonts/FranklinGothicHandDemi.woff") format("woff"),url("webfonts/FranklinGothicHandDemi.ttf") format("truetype"),url("webfonts/FranklinGothicHandDemi.svg#26db41b3b7fd6eb21c95af94ce516beb") format("svg");
    font-style: normal;
    font-weight: 400
}

@font-face {
    font-family: "FranklinGothicHand";
    src: url("webfonts/22EF27_1_0.eot");
    src: url("webfonts/22EF27_1_0.eot?#iefix") format("embedded-opentype"),url("webfonts/22EF27_1_0.woff") format("woff"),url("webfonts/22EF27_1_0.ttf") format("truetype")
}

@font-face {
    font-family: "CenturyGothicBoldItalic";
    src: url("webfonts/2C065E_1_0.eot");
    src: url("webfonts/2C065E_1_0.eot?#iefix") format("embedded-opentype"),url("webfonts/2C065E_1_0.woff") format("woff"),url("webfonts/2C065E_1_0.ttf") format("truetype")
}

@font-face {
    font-family: "CenturyGothicBold";
    src: url("webfonts/2C065E_2_0.eot");
    src: url("webfonts/2C065E_2_0.eot?#iefix") format("embedded-opentype"),url("webfonts/2C065E_2_0.woff") format("woff"),url("webfonts/2C065E_2_0.ttf") format("truetype")
}

@font-face {
    font-family: "CenturyGothicRegular";
    src: url("webfonts/2C065E_3_0.eot");
    src: url("webfonts/2C065E_3_0.eot?#iefix") format("embedded-opentype"),url("webfonts/2C065E_3_0.woff") format("woff"),url("webfonts/2C065E_3_0.ttf") format("truetype")
}

@font-face {
    font-family: "CenturyGothicRegularItalic";
    src: url("webfonts/2C065E_0_0.eot");
    src: url("webfonts/2C065E_0_0.eot?#iefix") format("embedded-opentype"),url("webfonts/2C065E_0_0.woff") format("woff"),url("webfonts/2C065E_0_0.ttf") format("truetype")
}

@font-face {
    font-family: "RB-icons";
    src: url("iconfonts/RB-icons.eot");
    src: url("iconfonts/RB-icons.eot?#iefix") format("embedded-opentype"),url("iconfonts/RB-icons.woff") format("woff"),url("iconfonts/RB-icons.ttf") format("truetype"),url("iconfonts/RB-icons.svg#RB-icons") format("svg");
    font-weight: normal;
    font-style: normal
}

body {
  margin: 0;
  font-family: "CenturyGothicRegular","Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 16px;
  line-height: 1.25;
  color: #333;
  background: url("/images/doodles/blog_doodle.png") no-repeat center top,url("/images/backgrounds/noise_bg.png")
}
