.newsItemBody a {
  color: #BE1414;
}

img {
  max-width: 100%;
}

.newsItemsList {
  font-size: 1em;
}

.newsItemItem {
  position: relative;
  list-style-type: none;
}

.newsItemTitleLink {
  text-decoration: none;
}

.newsItemTitle {
  font-size: 1.6em;
  text-decoration: none;
  display: inline;
  margin: 0 0 20px 0;
  color: #BE1414;
}

.arrow {
  font-size: 1.2em;
  color: black;
}

.newsItemDescription {
  margin-top: 10px;
  font-weight: bold;
}

.externalLinkIcon {
  font-size: 1em;
  color: #BE1414;
  position: absolute;
}

.newsItemTags {
  margin-top: 1.5em;
}

.mobileHorizontalLine {
  display: none;
  margin: 1.5em 0 0 0;
}

.moreEvents a {
  color: black;
  text-decoration: none;
  font-weight: bold;
}

.moreEvents a:hover, .moreEvents a:focus {
  color: #BE1414;
}

@media (max-width: 767px) {
  .wideHorizontalLine {
    display: none;
  }

  .mobileHorizontalLine {
    display: block;
  }
}
