/* Try not to use the mobile breakpoint, bad practice! Instead, go mobile-first! */
@value mobileMaxWidth: 767px;
@value mobile: (max-width: mobileMaxWidth);

@value mobileLandscape: (min-width: 350px);

@value tabletMinWidth: 768px;
@value tablet: (min-width: tabletMinWidth);

@value desktopMinWidth: 960px;
@value desktop: (min-width: desktopMinWidth);
