@import '../../responsive.css';

.dateStamp {
  composes: darkGreenBackground from "colors.css";
  display: inline-block;
  font-size: 0.8em;
  color: #fff;
  text-align: center;
  text-transform: uppercase;
  min-width: 3em;
  padding: 0.3em 0;
  border-radius: 5px;
  position: absolute;
  left: -70px;
}

.day {
  font-size: 2em;
}

@media (--small) {
  .dateStamp {
    position: static;
  }

  .dateStamp div {
    display: inline-block;
    margin: 0 3px;
  }

  .day {
    font-size: 1em;
  }
}
