@value black from '../variables/colors.css';
@value lightGrey2 from '../variables/colors.css';
@value grey from '../variables/colors.css';

.linksListSide {
  font-size: 0.875em;
  padding: 1em;
  background: lightGrey2;
  border-radius: 5px;
  margin-top: 1.5em;
}

.linksListSideTitle {
  text-transform: uppercase;
}

.linksListSide ul {
  padding: 0;
}

.linksListSide li {
  list-style: none;
  margin-bottom: 10px;
}

.linksListSide a {
  text-decoration: none;
  color: black;
}

.linksListSide a:hover {
  color: grey;
}
