@value primary, white from "../variables/colors.css";
@value mediaLarge from "../variables/breakpoints.css";

.navWrapper {
  min-height: 40px;
}

.nav {
  composes: blackPaper from "../utils/background.css";
  text-transform: uppercase;
  text-align: center;
}

.navList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navItem {
  display: inline-block;
  position: relative;
  padding: 0 2em;
  line-height: 2.5;
}

.navItemLink {
  text-decoration: none;
  color: white;
}

.navItemLink:hover,
.navItemLink:active,
.navItemLink:focus {
  color: primary;
}

.active {
  position: absolute;
  bottom: -6px;
  height: 12px;
  left: 15%;
  right: 15%;
  background-color: primary;
}

.badge {
  margin: 0 auto;
  max-width: 960px;
  opacity: 0;
  position: relative;
  -webkit-transition: opacity 0.2s linear;
  -moz-transition: opacity 0.2s linear;
  -o-transition: opacity 0.2s linear;
  transition: opacity 0.2s linear;
}

@media mediaLarge {
  .fixed {
    position: fixed;
    top: 0;
    z-index: 1;
  }

  .fixedBadge {
    opacity: 1;
  }
}
