@import '../../colors.css';

.post {
  margin: 1em 0;
  position: relative;

  {
    img {
      width: 100%;
    }

    a {
      color: var(--darkGreen);
    }
  }
}

.authorTitle {
  margin: 0.5em 0;
}

.title {
  color: var(--darkGreen);
  composes: franklinGothicHand from "fonts.css";
  font-size: 1.6em;
  line-height: 1.2;
  text-decoration: none;
}

.divider {
  composes: divider from "util.css"
}

.body p {
  margin: 0.6em 0;
}
