@import '../../../responsive.css';

@media (--small) {
  .container {
    grid-push: 1/12;
    grid-column: 10/12;
  }
}

@media (--large) {
  .container {
    grid-push: 3/12;
    grid-column: 6/12;
  }
}
